<% if notice %>
  <aside id = "notice"><%= notice %></aside>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% if @conter > 5 %>
  <h2><%= @conter %><h2>
<% end %>


<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache @product do %>
        <li>
          <%= image_tag(product.image_url) %>
          <h2><%= product.title %></h2>
          <h2><%= product.product_id %></h2>
          <!-- <h2>hahaha</h2> -->
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <!-- 格式化货币方法 -->
            <%= number_to_currency(product.price) %>
            <%= button_to 'Add to Cart', line_items_path(product_id:product) %>
          </div>
        </li>
        <% end %>
    <% end %>
  <% end %>
</ul>
